:root{
    --primary-color: #24a0df;
    --secondary-color: #092c3d;
    --background-color: #d6edf8;
    --text-color: #333333;
}

button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}
button:hover {
    background-color: #1b7bbf;
}
p{
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6{
    color: var(--secondary-color);
}